@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: Merriweather;
    display:block;
    background-color: lightslategray;
    
    
}

header {
background-color: beige;
font-size: 40px;
padding: 12px 50px;


}

main {


}
h2 {
    margin-bottom: 20px;
    font-size: 25px;
    color: gold;
}

section {
    margin-top: 20px;
}

article {
    margin-top:30px;


}

h1 {
    text-align: center;
    color:gold;
    font-size: 60px;
    margin-top: 40px;

}

image {

}

a {
    color: gold;
    text-decoration: none;

}

footer {
    margin-top:14px;
    color:gold;
    text-align: center;


}